#filtro{
    background:white;
}

#filtro .cabFiltro{
    width: 250px;
    height: 50px;
    
    border-radius: 5px 5px 0px 0px;
}
#filtro .corpoFiltro{
    width: 250px;
    height: 200px;
    
}
#filtro .rodapeFiltro{
    width: 250px;
    height: 50px;
    
    border-radius: 0px 0px 5px 5px;
}
.pesquisa-pags{
    margin-left: 87%
}
.pesquisa-pags ul>a{
    color: #343444;
    padding: 2px;
    font-size: 17px;
}
/*===================================BOTÃO CONTA=============================================*/
.botao-conta{
    background:none; margin-top: 7px; color: white;
}
.botao-conta:hover{
    background: none; color: #ffffff80;
}
.botao-conta:active{
    background: none; color: #ffffff80;
}
/*===============================INFORMAÇÕES PERFIL=========================================*/
#infoPerfil{
    margin-top: 115px; 
}

.caixaimagemPerfil {
    height:350px;
  
}
.caixaimagemPerfil img{
    height:175px;
    margin:5px 0px 0px 10px; 
}
.caixaDescPerfil{
    height:155px;
    margin:5px 14px 0px 10px; 
    border-radius: 2px;
    background: white;
}

/*===============================================================================================*/

.imagemNoticia{
    background:#463f41; height: 190px; margin:7px 0px 0px 13px;

}

.dimensaoNoticiaBordas{
    border-radius: 5px; margin-left:-16px; background:white;
    margin-bottom: 20px;
}

.margemTextoNoticia{
    height: 200px; margin:5px 0px 0px 10px;

}
.tituloNoticia{
    background: white; height: 60px; margin:5px 0px 0px 10px;
    border-bottom: solid 2px #463f41;
}
.tituloNoticia h3{
    color: #463f41;
}

.DimensaodescricaoNoticia{
    background: white; height: 120px; margin:5px 0px 0px 10px;
}
.DimensaodescricaoNoticia p{
    text-align: justify;
}
/*==============================================================================================*/

.sobreEntidadePerfil{
    background: white;
    border-radius: 5px;
    height:250px; 
    margin-bottom: 20px;
}

.sobreEntidadePerfil ul{
    margin:15px 5px 0px -18px;

}
.sobreEntidadePerfil ul>li{
    font-size: 15px; 
    padding-bottom: 10px;

}

.painelPrincipalPerfil{

    border-radius: 5px;
    margin-left: 20px;
}

.painelPrincipalPerfil .row {
    margin-top: 15px;
    background: white;
    border-radius: 5px;
}
/**/
.descricaoPerfil p{
    padding-top:7px; 
    text-align: justify;
}

#Definicoes .row{

    margin-top: 15px;
    background: white;
    border-radius: 5px;
}

.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }