/* =========================LAYOUT======================== */
html, body, .capa {
	height: 100%;
}

body {
	/*background:
	linear-gradient(50deg,#ccc4c6,#7c26f8);*/
	background:#efeff3;
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}

/*=======================BARRA_DE_NAVEGAÇÃO===========================*/
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/logo/enterprise2.PNG') no-repeat;

	background-size: contain;
	color: transparent, white;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #ffffff80;
}

/*============================RECURSOS-PAG-REGISTRO=============================*/
#inscricao {
	padding-top: 70px;
	padding-bottom: 20px;
	color: #EAE5E5;
	
}

.infoResg{
    border: 4px solid #EAE5E5;
    border-radius: 5px;
}

#inscricao h1{
color: #343444;
}

#inscricao label{
	color:#343444;
}

#inscricao form{
	padding: 10px;
	box-shadow:4px 3px 5px; 
	background: white;
}
/*===================================NOTICIA====================================*/

#Noticia{
	margin-bottom: 15%; 
}

.corpo-noticia{
	
}
.corpo-noticia p{
	padding: 20px 10px 3px 10px;
	text-align: justify;
}

.corpo-noticia h1{
	color: #1b1b7a;
}

.corpo-noticia h1:hover{
	text-decoration: underline;
}
/*=================================LISTA_DE_PROJECTO=============================*/

#lista_Proj{
	margin: 100px 80px ;
}


/*================================PAG-REGISTRO===================================*/

.espacamento h2{
padding: 4px;
} 


/*=====================================CARTAO===================================*/
#cartao{

}

.cartaocorpo label{
	color:#343444;
}


#cartao .cartaocabe{
	height: 50px;
	width: 400px;
	border-radius: 5px 5px 0px 0px;
	background:#343444;

}

#cartao .cartaocorpo{
	background: white;
	height: 300px;
	width: 400px;
	padding: 15px 5px;
}

#cartao .cartaorodape{
	background: white;
	height: 50px;
	width: 400px;
	border-radius: 0px 0px 5px 5px;
	
}


#tabelaProjectos{
	margin: 100px 80px ;
}

/*====================================TABELAS=====================================*/
.tabela{
	background: #EAE5E5;
}

/*===================================PROJECTOS==================================*/
.botoesProj{

	height: 30px;
	border: 1px solid #343444;
	border-radius: 3px;
	background: none;
	color: #343444;
}

/*====================================ACTIVIDADES DO PROGECTO====================*/
#ActividadeProjecto{
	margin: 100px 80px ;
}

#ActividadeProjecto h2{
	color: white; 
    margin-bottom: 15px;
}
.inforProj{
	margin: 6px 50px 0px 70px;
	height:550px;
	width: 600px;
	border-radius: 5px;
	background: #343444;
	
}
/*=============================BotaoAdd===================*/

/*botao criar*/
.botaoUso{
    background-color: #343444;
    color: white;
}
.botaoUso:hover{
    background: rgba(88, 89, 155,0.5);
    color: white;
    transition-duration: 0.4s;
}

/*==========================PARCERIAS======================*/

.parcerias{
	border-radius: 4px;
	background: rgba(236, 234, 234, 0.945);
	height: 150px;
	width: 100%;
	shadow:4px 3px 10px;	
}

/*====================index=========================imgs=======================*/

.redimg {
	width: 130px;
	height: 130px;
	padding-top: 10px;
	border-radius:50%;
}

/*===================================RODAPÉ=====================================*/

#Rodape{
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.5);
	height: 150px;
	padding: 20px;
	color: white;
}
.fa {
	padding: 15px;
	font-size: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	
  }
  
.fa:hover {
	  opacity: 0.7;
	  color: white;
}
  
  .fa-facebook {
	background :none;
	color: white;
	
  }

  .fa-twitter {
	background: none;
	color: white;
  }
  
  .fa-google {
	background: none;
	color: white;
  }
