
/* ========================= layout ======================== */
html, body, .capa {
	height: 100%;
}

body {
	/*background:
	linear-gradient(50deg,#ccc4c6,#7c26f8);*/
	background:white;
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}

/* -- Barra de navegação -- */
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/logo/enterprise2.PNG') no-repeat;

	background-size: contain;
	color: transparent, white;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #ffffff80;
}

/* -- Imagem de capa -- */
.capa {
	display: table;
	width: 100%;
}

.texto-capa {
	text-align: center;
	color: #343444;
	display: table-cell;
	vertical-align: middle;
}

/* -- Botoes -- */
.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px 35px;
    margin: 0px 15px;
    text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
}

.btn-roxo {
	background: #343444;
	color:white;
	
}

.btn-roxo:hover {
	background-color: rgba(255, 255, 255, 0.7);
	color: #343444;
}

.btn-branco {
	background: #343444;
	color: white;}

.btn-branco:hover {
	
	background-color: rgba(255, 255, 255, 0.966);
	color:#343444;
	
}

/* -- secao servico -- */
#servicos {
	background: rgba(236, 234, 234, 0.945);
	padding-top: 20px;
	padding-bottom: 20px;
}


/* ------------------------------------------ recursos -------------------------------------- */
#recursos {
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.redimg {
	width: 370px;
	height: 370px;
	margin-top: 5px;
	margin-left:80px; 
	border-radius:50%;
}

.botaoUso{
    background-color:#343444;
    color: white;
}
.botaoUso:hover{
    background: rgba(52, 52, 68,0.5) ;
    color: white;
    transition-duration: 0.4s;
}
/* ========================= Tipografia ======================== */
h1 {
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#servicos h2, #servicos h3 {
	color: #343444;
}

#recursos h3 {
	color: #9bf0e1;
}

.barraDivisoria{
	position:absolute;
	width: 1100px;
	height: 5px;
	margin-left:140px;
	margin-top:-2px; 
	background: hsla(240, 5%, 57%, 0.473); 

}

/*===============================MAIS INFORMACOES===============================*/
#Mais_info{
	height: 350px;
	background:  rgba(236, 234, 234, 0.945);
}

/*=============================RODAPE=============================*/
#Rodape{
	background: rgba(0, 0, 0, 0.5);
	height: 150px;
	padding: 20px;
	color: white;
}
.fa {
	padding: 15px;
	font-size: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	
  }
  
.fa:hover {
	  opacity: 0.7;
	  color: white;
}
  
  .fa-facebook {
	background :none;
	color: white;
	
  }

  .fa-twitter {
	background: none;
	color: white;
  }
  
  .fa-google {
	background: none;
	color: white;
  }
